body{
    font-family: 'Arvo', serif;
}


/* Nav Bar */

.nav-bar{
    background-color: rgb(81, 104, 124);
    margin: -8px;
    margin-top: -21px;
    box-shadow: 0px 5px 5px rgb(216, 216, 221);
    text-align: center;
}

.list-item{
    list-style: none;
    display: inline;
    text-align: end;
    background-color: rgb(78, 96, 111);
    padding: 5px;
    
}

a{
    text-decoration: none;
}


.navbar-links{

    display: inline;
   
}

/* nav bar ^^ */


.Title{
    text-align: center;
    color: aliceblue;
}

.maincontent{
    text-align: center;
    position: relative;
    bottom: -50px;

    box-shadow: 0px 5px 5px rgb(216, 216, 221);
}

.intro{
    text-align: center;
    background-color: rgb(209, 215, 220);
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
    /*margin-top: -80px;*/
}

.intro.relative{
    position: relative;
}

.planets-info{
    box-shadow: 0px 5px 5px rgb(216, 216, 221);
}